@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

:root {
--text: oklch(13.92% 0.011 97.77);
--background: oklch(98.45% 0.007 97.35);
--primary: oklch(86.52% 0.177 90.38);
--secondary: oklch(88.46% 0.112 95.88);
--accent: oklch(88.47% 0.157 94.79);

}

html {
  font-family: "Figtree", system-ui, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--text);
  line-height: 1.3;
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--text);
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
